<%= render 'nav' %>

<div class="circles">
	<div class="row">
		<%= link_to logic_proofs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Logic and common proof techniques (direct, contradiction, contraposition)</div>
		</div>
		<% end %>

		<%= link_to induction_proofs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Set theory and mathematical induction</div>
		</div>
		<% end %>

		<%= link_to relations_proofs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Relations</div>
		</div>
		<% end %>

		<%= link_to functions_proofs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Functions</div>
		</div>
		<% end %>
	</div>

	<div class="row">
		<%= link_to cardinality_proofs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Cardinality</div>
		</div>
		<% end %>

		<%#= link_to systems_precalcs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Modular arithmetic</div>
		</div>
		<%# end %>

		<%#= link_to systems_precalcs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Intro to abstract algebra</div>
		</div>
		<%# end %>

	</div>
</div>


<ol class="breadcrumb">
	<li><%= link_to 'Dashboard', user_path(session['user_id']) %></li>
	<li><%= link_to 'Proof writing', dash_proofs_path(session['user_id']) %></li>
	<li class="active">Practice</li>
</ol>