<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<button type="button" class="btn btn-default navbar-btn navbar-right">
				<%= link_to 'Dashboard', user_path(session['user_id']), :style => 'font-decoration:none;color:#26aa30' %>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Subjects <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><%= link_to 'Algebra', dash_algebras_path(session['user_id']) %></li>
						<li><%= link_to 'Business Math', dash_business_maths_path(session['user_id']) %></li>
						<li><%= link_to 'ISEE - Lower', dash_lowers_path(session['user_id']) %></li>
						<li><%= link_to 'ISEE - Upper', dash_uppers_path(session['user_id']) %></li>
						<li><%= link_to 'Precalculus', dash_precalcs_path(session['user_id']) %></li>
						<li><%= link_to 'Proof Writing', dash_proofs_path(session['user_id']) %></li>
					</ul>
				</li>
			</ul>

			<div class="btn-group">
				<button class="btn btn-info btn-sm">
					<%= link_to 'Precalculus', dash_precalcs_path(session['user_id']), style:"color:#f0f0f0" %>
				</button>
				<button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><%= link_to 'Functions and polynomials', functions_precalcs_path(session['user_id']) %></li>
					<li><%= link_to 'Logarithms', logs_precalcs_path(session['user_id']) %></li>
					<li><%= link_to 'Right triangle geometry and trigonometric functions for the unit circle', triangles_precalcs_path(session['user_id']) %></li>
					<li><%= link_to 'The graphs of sine and cosine', sine_precalcs_path(session['user_id']) %></li>
					<li><%= link_to 'Trigonometric functions and equations', trig_precalcs_path(session['user_id']) %></li>
					<li><%= link_to 'Linear and nonlinear systems', systems_precalcs_path(session['user_id']) %></li>
				</ul>
			</div>

			<!--<ul class="nav navbar-nav navbar-right">-->
			<!--<li>Hello, <%#= @user.first_name.capitalize %>!</li>-->
			<!--</ul>-->
			<ul class="nav navbar-nav navbar-right"  style="color:#26aa30">
				<li>
					<!--<a href="#editProfileModal" data-toggle="modal" data-target="#editProfileModal">Edit profile</a>-->
					<%#= link_to 'Edit profile', edit_user_path(session['user_id']) %>
					<button type="button" class="btn btn-default navbar-btn navbar-right">
						<a href="#editProfileModal" data-toggle="modal" data-target="#editProfileModal">Edit profile</a>
					</button>
				</li>
				<li>
					<p class="navbar-name">Hello, <%= @user.first_name.capitalize %>!</p>
				</li>
			</ul>

			<button type="button" class="btn btn-default navbar-btn navbar-right">
				<%= link_to 'Log out', sessions_path, method: :delete, :style => 'font-decoration:none;color:#26aa30' %>
			</button>
		</div>
	</div>
</nav>


<div class="modal fade" id="editProfileModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Edit profile</h4>
			</div>
			<div class="modal-body">
				<div class="ruby-form">
					<%= form_for @user do |f| %>
						<%= f.text_field :first_name,   placeholder: 'First name', class:'form-input' %>
						<%= f.text_field :last_name,    placeholder: 'Last name',  class:'form-input' %><br><br>
						<%= f.text_field :email,        placeholder: 'Email',      class:'form-input' %><br><br>
						<%= f.submit 'Update profile!', 												   class:'btn btn-default btn-login btn-lg' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>