<%= render 'nav' %>

<!--find a random entry in the array of available ids-->
<% ids = Array.new %>
<% @precalcs.each do |p| %>
	<% ids.push(p.id) %>
<% end %>
<% id = ids.sample %>

<div class="precalc-practice-question">
	<%= @precalcs.find(id).question %>
	<br><br>
	<button type="button" class="btn btn-default" id="precalc-solution-button">Solution</button>

	<% if @precalcs.find(id).hint != nil %>
		<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#hintModal">
			Hint
		</button>
		<!-- Modal -->
		<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="hintModalLabel">Hint</h4>
					</div>
					<div class="modal-body">
						<%= @precalcs.find(id).hint %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<div id="practice-solutions-box" class="practice-solution">
	<div class="practice-solution-step" style="display:none;">
		<ol>
			<% @precalcs.find(id).solution.each do |step| %>
				<% index = @precalcs.find(id).solution.index(step) %>
				<li id="Step<%= index+1 %>"><%= step %></li>
			<% end %>
		</ol>
		<br><br>
		<button type="button" class="btn btn-default btn-sm" id="step" onclick="ShowStep()" disabled="true">
			show next step
		</button>
		<button type="button" class="btn btn-default btn-sm" id="reset" onclick="ResetSteps()" disabled="true">
			reset steps
		</button>
	</div>
</div>

<div style="margin: 0 auto;width:50%;">
	<div class="row row-centered">
		<div class="col-md-4 col-centered">
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
				Unit circle
			</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3 class="modal-title" id="myModalLabel">Unit circle</h3>
						</div>
						<div class="modal-body">
							<%= image_tag('unit-circle.png') %>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-centered">
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#trigModal">
				Logarithms
			</button>
			<!-- Modal -->
			<div class="modal fade" id="trigModal" tabindex="-1" role="dialog" aria-labelledby="trigModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3 class="modal-title" id="trigModalLabel">Logarithms</h3>
						</div>
						<div class="modal-body">
							<h3>Properties of Logarithms</h3>
							<p>$$\begin{array}{crlc} \log_b{b} = 1 & \log_b{1} = 0 & b^{\log_b{x}} = x & \log_b{b^x} = x
								\end{array}$$</p>
							<p>$$\begin{array}{rl}\log_{b}{a^r} = r \log_b{a} & \log_b{u} = \dfrac{\log_a{u}}{\log_a{b}}
								\end{array}$$</p>
							<p>$$\begin{array}{rl}\log_b{uv} = \log_b{u} + \log_b{v} & \log_b{\frac{u}{v}} = \log_b{u} - \log_b{v} \end{array}$$</p>
							<h3>Interest Formulas</h3>
							<p>$$\begin{array}{cc} A = P\left(1+\frac{r}{n}\right)^{nt} & A = Pe^{rt} \end{array}$$</p>
							</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-centered">
			<div class="next-question">
				<button type="button" class="btn btn-success btn-lg">
					<%= link_to 'Next question', logs_precalcs_path(session['user_id']), :style => 'font-decoration:none;
					color:#f0f0f0' %>
				</button>
			</div>
		</div>
	</div>
</div>

<ol class="breadcrumb">
	<li><%= link_to 'Dashboard', user_path(session['user_id']) %></li>
	<li><%= link_to 'Precalculus', dash_precalcs_path(session['user_id']) %></li>
	<li><%= link_to 'Practice', practice_precalcs_path(session['user_id']) %></li>
	<li class="active">Logarithms</li>
</ol>