<%= render 'users/nav' %>

<!--find a random entry in the array of available ids-->
<% ids = Array.new %>
<% @precalcs.each do |p| %>
	<% ids.push(p.id) %>
<% end %>
<% id = ids.sample %>

<div class="precalc-practice-question">
	<%= @precalcs.find(id).question %>
	<br><br>
	<button type="button" class="btn btn-default" id="precalc-solution-button">Solution</button>

	<% if @precalcs.find(id).hint != nil %>
		<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#hintModal">
			Hint
		</button>
		<!-- Modal -->
		<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="hintModalLabel">Hint</h4>
					</div>
					<div class="modal-body">
						<%= @precalcs.find(id).hint %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<div id="practice-solutions-box" class="practice-solution">
	<div class="practice-solution-step" style="display:none;">
		<% @precalcs.find(id).solution.each do |step| %>
			<% index = @precalcs.find(id).solution.index(step) %>
			<p id="Step<%= index+1 %>"><%= step %></p>
		<% end %>
		<button type="button" class="btn btn-default btn-sm" id="step" onclick="ShowStep()" disabled="true">
			show next step
		</button>
		<button type="button" class="btn btn-default btn-sm" id="reset" onclick="ResetSteps()" disabled="true">
			reset steps
		</button>
	</div>
</div>

<div style="margin: 0 auto;width:20%;">
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
				Unit circle
			</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Unit circle</h4>
						</div>
						<div class="modal-body">
							<%= image_tag('unit-circle.png') %>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="next-question">
				<button type="button" class="btn btn-success btn-lg">
					<%= link_to 'Next question', triangles_precalcs_path(session['user_id']), :style => 'font-decoration:none; color:#f0f0f0' %>
				</button>
			</div>
		</div>
	</div>
</div>

<ol class="breadcrumb">
	<li><%= link_to 'Dashboard', user_path(session['user_id']) %></li>
	<li><%= link_to 'Precalculus', dash_precalcs_path(session['user_id']) %></li>
	<li><%= link_to 'Practice', practice_precalcs_path(session['user_id']) %></li>
	<li class="active">Right triangle geometry and the unit circle</li>
</ol>