<!DOCTYPE html>
<html>
  <head>
    <title>Brooke's Project Four - Test Prep</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!--favicon-->
		<link rel="icon"
					type="image/png"
					href="">

		<script type="text/javascript"
						src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>

		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'practice_solution' %>
    <%= stylesheet_link_tag    'application' %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>